/** Login Configuration for the HR sample application **/

/*
hrsample-ext {
   org.jspresso.framework.security.auth.spi.DevelopmentLoginModule required
   
       user=demo
       password=demo
       roles="staff-manager,organization-manager,administrator"
       custom.language=en

       user_1=staffmgr
       password_1=staffmgr
       roles_1="staff-manager"
       custom_1.language=fr

       user_2=orgmgr
       password_2=orgmgr
       roles_2="organization-manager"
       custom_2.language=fr;
};
*/

hrsample-ext {
   org.jspresso.framework.security.auth.spi.DatabaseLoginModule required
       dsJndiName="java:comp/env/jdbc/hrsampleDS"
       principalsQuery="SELECT PASSWORD, 'en' language FROM USER_ WHERE LOGIN=?"
       rolesQuery="SELECT ROLE.ROLE_ID, 'Roles' FROM ROLE, USER_, ROLE_USERS WHERE USER_.LOGIN=? AND ROLE_USERS.ROLE_ID=ROLE.ID AND ROLE_USERS.USER__ID=USER_.ID"
       principalClass=org.jspresso.framework.security.UserPrincipal
       suspendResume=false;
};